.menu {
    width: 800px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
    background: #cccccc;
    border: 1px solid #000;
}

.menu h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.row {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.row:last-child {
    margin-bottom: 0;
}

.row span {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
}

button.less, button.more {
    display: block;
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background: #000;
}

button.more {
    background: #ff302c;
}